@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    color: black
}


body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.rotate-image {
    animation: rotation 2s linear infinite;
  }

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-logo img{
    margin: 10px;
    max-width: 10%;

}
.join-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.join-room img {
    width: 20%
}

.rotate-image {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.rotate-image-reverse {
    animation-name: spin-reverse;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
@keyframes spin-reverse {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(39, 18, 134);
    color: white
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="name"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,

button:disabled {
    opacity: 50%;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.home {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    align-self: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    width: 25%;
    overflow-y: auto;
    border-right: 3px solid;
    border-color:rgb(209, 209, 209);

}
.sidebar button {
    width: 50%;
    font-size: .8em;
    margin-bottom: 4px;
}
.sidebar h2 {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 25px;
}


.create-chatroom {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin-left: 25vw;
}

.header-card {
    display: flex;
    flex-direction: column;
    color:#000;
    width: 95%;
    margin-bottom: 15px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img{
    margin: 10px;
    max-width: 10%;
    width: auto;
    height: auto;
}
.header-card h1 {
    font-size: 2.5vw;
    display: inline;
}
.header-card p {
    font-size: .8em;
    margin-left: 4%;
}
.header-card a {
    align-self: flex-end;
    color:#6d6d6d;
    font-size: .8em;
}
.header-card a:hover {
    opacity: 50%;
}
.header-card p {
    color:#6d6d6d;
}

.chatroom-cards {
    width: 95%;
    margin-top: 12px;
}
.chatroom-card {
    margin: 15px 5px;
    /* border: 2px solid #000000; */
    background-color: rgb(39, 18, 134);
    color:rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(116, 79, 168, 0.75);
    border-radius: 6px;
    padding: 10px;
}
.chatroom-card:hover {
    /* border: 2px solid #5c5c5c; */
    opacity: 90%;
    margin-right: 2px;
}

.chat-area {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.messages-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 3%;
    overflow-y: auto;
} 
.message-block {
    margin-top: 40px;
    width: 80%;
    color: white;
    overflow-wrap: break-word;
    overflow-x: hidden;
}
.message-block p {
    background-color: #2962ff;
    max-width: 100%;
    inline-size: max-content;
    padding: 10px;
    border-radius: 15px;
}
.message-block-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 1vw;
}
.send-message {
    width: 80%;
    margin-bottom: 4%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(124, 124, 124);
}
.send-message textarea {
    width: 80%;
    margin-right: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 150px;
    height: 50px;
}