@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}

.App {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.auth {
    align-self: center;
}
section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(114, 114, 114, 0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="name"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
  background-color:darkmagenta;
  color: white;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 100vh;
    width: 25%;
}

.sidebar button {
    width: 50%;
    font-size: .8em;
    margin: 15px;
}
.chat-area {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    width: 75%;
    height: 100vh;
    justify-content: space-between;
}



.header-card {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(32, 128, 128);
    width: 95%;
}
.header-card a {
    align-self: flex-end;
}

.chatroom-cards {
    background-color: rgb(78, 78, 121);
    width: 95%;
}
.chatroom-card {
    margin: 5px;
    background-color: rgb(36, 26, 82);
}

.messages-area {
    background-color: bisque;
    width: 80%;
    margin-left: 5%;
    margin-top: 3%;
}
.message-block {
    background-color: cadetblue;
    margin: 10px;
}
.send-message {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 4%;

}
.send-message input {
    width: 80%;
    margin-right: 20px;
    height: 40px;
}
